# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [9]:
serie = pd.Series(lst)
print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [194]:
serie.iloc[[2]]

2    74.4
dtype: float64

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [13]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [22]:
df4 = pd.DataFrame(b) 
print(df4)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [24]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [25]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [55]:
df4 = pd.DataFrame(b, columns=['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']) 
print(df4)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [56]:
subset = df4[['Score_1', 'Score_3', 'Score_5']]
print(subset)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [57]:
average_Score_3 = df4["Score_3"].mean()
print(average_Score_3)

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [58]:
max_value_Score_4 = df4["Score_4"].max()
print(max_value_Score_4)

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [59]:
median_value_Score_2 = df4['Score_2'].median()
print(median_value_Score_2)

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [60]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES',
  'RIBBON REEL STRIPES DESIGN',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [61]:
product_orders = pd.DataFrame(orders, columns = ['Description', 'Quantity', 'UnitPrice', 'Revenue']) 
print(product_orders)

                         Description  Quantity  UnitPrice  Revenue
0             LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES        24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN         1       1.65     1.65
3  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4   PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                     POPCORN HOLDER         7       0.85     5.95
6     BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                      PARTY BUNTING         4       4.95    19.80
8           JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9      SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [62]:
total_quantity = product_orders['Quantity'].sum()
print(total_quantity)

2978

In [63]:
total_revenue = product_orders['Revenue'].sum()
print(total_revenue)

637.0

In [64]:
# add the total of just one column

product_orders.loc['Total'] = pd.Series(product_orders['Quantity'].sum(), index = ['Quantity'])
print (product_orders)

                             Description  Quantity  UnitPrice  Revenue
0                 LUNCH BAG APPLE DESIGN       1.0       1.65     1.65
1      SET OF 60 VINTAGE LEAF CAKE CASES      24.0       0.55    13.20
2             RIBBON REEL STRIPES DESIGN       1.0       1.65     1.65
3      WORLD WAR 2 GLIDERS ASSTD DESIGNS    2880.0       0.18   518.40
4       PLAYING CARDS JUBILEE UNION JACK       2.0       1.25     2.50
5                         POPCORN HOLDER       7.0       0.85     5.95
6         BOX OF VINTAGE ALPHABET BLOCKS       1.0      11.95    11.95
7                          PARTY BUNTING       4.0       4.95    19.80
8               JAZZ HEARTS ADDRESS BOOK      10.0       0.19     1.90
9          SET OF 4 SANTA PLACE SETTINGS      48.0       1.25    60.00
Total                                NaN    2978.0        NaN      NaN

In [70]:
# find the sum of all values along the index axis. skiping the NaN values in the calculation of the sum.

product_orders.sum(axis = 0, skipna = True)

Quantity     5956.00
UnitPrice      24.47
Revenue       637.00
dtype: float64

In [71]:
# add the total of of all values along the index axis. skiping the NaN values in the calculation of the sum.

product_orders.loc['Total'] = product_orders.sum(axis = 0, skipna = True)
print (product_orders)

                             Description  Quantity  UnitPrice  Revenue
0                 LUNCH BAG APPLE DESIGN       1.0       1.65     1.65
1      SET OF 60 VINTAGE LEAF CAKE CASES      24.0       0.55    13.20
2             RIBBON REEL STRIPES DESIGN       1.0       1.65     1.65
3      WORLD WAR 2 GLIDERS ASSTD DESIGNS    2880.0       0.18   518.40
4       PLAYING CARDS JUBILEE UNION JACK       2.0       1.25     2.50
5                         POPCORN HOLDER       7.0       0.85     5.95
6         BOX OF VINTAGE ALPHABET BLOCKS       1.0      11.95    11.95
7                          PARTY BUNTING       4.0       4.95    19.80
8               JAZZ HEARTS ADDRESS BOOK      10.0       0.19     1.90
9          SET OF 4 SANTA PLACE SETTINGS      48.0       1.25    60.00
Total                                NaN    5956.0      24.47   637.00

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [75]:
max_value_UnitPrice = product_orders["UnitPrice"].max()
print('max', max_value_UnitPrice)

min_value_UnitPrice = product_orders["UnitPrice"].min()
print('min', min_value_UnitPrice)

distance = max_value_UnitPrice - min_value_UnitPrice
print('Distancia de precios', distance)

max 24.47
min 0.18
Distancia de precios 24.29

In [85]:
product_orders.UnitPrice.max()

24.469999999999999

## Let's load another dataset for more exercisesº

In [216]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [210]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [147]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
Serial No.           385 non-null int64
GRE Score            385 non-null int64
TOEFL Score          385 non-null int64
University Rating    385 non-null int64
SOP                  385 non-null float64
LOR                  385 non-null float64
CGPA                 385 non-null float64
Research             385 non-null int64
Chance of Admit      385 non-null float64
dtypes: float64(4), int64(5)
memory usage: 27.1 KB

In [148]:
admissions.shape

(385, 9)

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [197]:
null = admissions.isnull()
print(null.head())

   Serial No.  GRE Score  TOEFL Score  University Rating    SOP    LOR   CGPA  \
0       False      False        False              False  False  False  False
1       False      False        False              False  False  False  False
2       False      False        False              False  False  False  False
3       False      False        False              False  False  False  False
4       False      False        False              False  False  False  False

   Research  Chance of Admit  Decision  Decision2
0     False            False     False      False
1     False            False     False      False
2     False            False     False      False
3     False            False     False      False
4     False            False     False      False

In [150]:
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [217]:
admissions = admissions.set_index("Serial No.")
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [220]:
admissions['concatenated'] = admissions['GRE Score'].astype(str) + admissions['CGPA'].astype(str)
print(admissions)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
2                 316          104                  3  3.0  3.5  8.00
3                 322          110                  3  3.5  2.5  8.67
4                 314          103                  2  2.0  3.0  8.21
5                 330          115                  5  4.5  3.0  9.34
6                 321          109                  3  3.0  4.0  8.20
7                 308          101                  2  3.0  4.0  7.90
8                 302          102                  1  2.0  1.5  8.00
9                 323          108                  3  3.5  3.0  8.60
10                327          111                  4  4.0  4.5  9.00
11                328          112                  4  4.0  4.5  9.10
12                307          109                  3  4.0  3.0  8.00
13                311          104                  3  3.5  2.0  8.20
14                314          105                  3  3.5  2.5  8.30
15                317          107                  3  4.0  3.0  8.70
16                319          106                  3  4.0  3.0  8.00
17                318          110                  3  4.0  3.0  8.80
18                303          102                  3  3.5  3.0  8.50
19                325          114                  4  3.0  2.0  8.40
20                328          116                  5  5.0  5.0  9.50
21                334          119                  5  5.0  4.5  9.70
22                336          119                  5  4.0  3.5  9.80
23                322          109                  5  4.5  3.5  8.80
24                298           98                  2  1.5  2.5  7.50
25                295           93                  1  2.0  2.0  7.20
26                310           99                  2  1.5  2.0  7.30
27                300           97                  2  3.0  3.0  8.10
28                327          103                  3  4.0  4.0  8.30
29                338          118                  4  3.0  4.5  9.40
30                340          114                  5  4.0  4.0  9.60
...               ...          ...                ...  ...  ...   ...
356               310          103                  2  2.5  2.5  8.24
357               324          110                  3  3.5  3.0  9.22
358               336          119                  4  4.5  4.0  9.62
359               321          109                  3  3.0  3.0  8.54
360               315          105                  2  2.0  2.5  7.65
361               304          101                  2  2.0  2.5  7.66
362               297           96                  2  2.5  2.0  7.43
363               290          100                  1  1.5  2.0  7.56
364               303           98                  1  2.0  2.5  7.65
365               311           99                  1  2.5  3.0  8.43
366               322          104                  3  3.5  4.0  8.84
367               319          105                  3  3.0  3.5  8.67
368               324          110                  4  4.5  4.0  9.15
369               300          100                  3  3.0  3.5  8.26
370               340          113                  4  5.0  5.0  9.74
371               335          117                  5  5.0  5.0  9.82
372               302          101                  2  2.5  3.5  7.96
373               307          105                  2  2.0  3.5  8.10
374               296           97                  2  1.5  2.0  7.80
375               320          108                  3  3.5  4.0  8.44
376               314          102                  2  2.0  2.5  8.24
377               318          106                  3  2.0  3.0  8.65
378               326          112                  4  4.0  3.5  9.12
379               317          104                  2  3.0  3.0  8.76
380               329          111                  4  4.5  4.0  9.23
381               324          110                  3  3.5  3.5  9.04
382               325          107                  3  3.0  3.5  9.11
383               330          116                  4  5.0  4.5  9.45
384               312          103                  3  3.5  4.0  8.78
385               333          117                  4  5.0  4.0  9.66

            Research  Chance of Admit concatenated
Serial No.
1                  1             0.92      3379.65
2                  1             0.72       3168.0
3                  1             0.80      3228.67
4                  0             0.65      3148.21
5                  1             0.90      3309.34
6                  1             0.75       3218.2
7                  0             0.68       3087.9
8                  0             0.50       3028.0
9                  0             0.45       3238.6
10                 1             0.84       3279.0
11                 1             0.78       3289.1
12                 1             0.62       3078.0
13                 1             0.61       3118.2
14                 0             0.54       3148.3
15                 0             0.66       3178.7
16                 1             0.65       3198.0
17                 0             0.63       3188.8
18                 0             0.62       3038.5
19                 0             0.70       3258.4
20                 1             0.94       3289.5
21                 1             0.95       3349.7
22                 1             0.97       3369.8
23                 0             0.76       3228.8
24                 1             0.44       2987.5
25                 0             0.46       2957.2
26                 0             0.54       3107.3
27                 1             0.65       3008.1
28                 1             0.74       3278.3
29                 1             0.91       3389.4
30                 1             0.90       3409.6
...              ...              ...          ...
356                0             0.72      3108.24
357                1             0.89      3249.22
358                1             0.95      3369.62
359                1             0.79      3218.54
360                0             0.39      3157.65
361                0             0.38      3047.66
362                0             0.34      2977.43
363                0             0.47      2907.56
364                0             0.56      3037.65
365                1             0.71      3118.43
366                1             0.78      3228.84
367                1             0.73      3198.67
368                1             0.82      3249.15
369                0             0.62      3008.26
370                1             0.96      3409.74
371                1             0.96      3359.82
372                0             0.46      3027.96
373                0             0.53       3078.1
374                0             0.49       2967.8
375                1             0.76      3208.44
376                0             0.64      3148.24
377                0             0.71      3188.65
378                1             0.84      3269.12
379                0             0.77      3178.76
380                1             0.89      3299.23
381                1             0.82      3249.04
382                1             0.84      3259.11
383                1             0.91      3309.45
384                0             0.67      3128.78
385                1             0.95      3339.66

[385 rows x 9 columns]

In [223]:
admissions.concatenated.value_counts()

3349.7     1
3329.36    1
3068.36    1
3369.53    1
3088.34    1
2947.36    1
3169.0     1
3208.62    1
3088.07    1
3278.4     1
3188.27    1
2997.86    1
3128.09    1
3178.57    1
3409.45    1
3018.22    1
3168.56    1
3006.8     1
3199.04    1
3208.64    1
3269.23    1
3248.64    1
3188.67    1
2997.34    1
2987.86    1
3058.16    1
3047.66    1
2988.54    1
3329.1     1
3018.34    1
          ..
3319.44    1
3058.48    1
3028.33    1
3239.1     1
3117.46    1
3068.45    1
3187.92    1
3168.2     1
3208.74    1
3078.27    1
3229.36    1
3138.65    1
3248.77    1
3399.7     1
3218.8     1
3249.08    1
3048.2     1
3219.06    1
3088.0     1
3369.76    1
3088.45    1
3118.2     1
3359.56    1
3359.68    1
3047.84    1
2987.6     1
3369.19    1
3369.8     1
3118.43    1
3218.68    1
Name: concatenated, Length: 385, dtype: int64

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [152]:
filtrado1 = admissions.loc[(admissions["CGPA"] > 9) & (admissions["Research"] == 1)]
filtrado1.shape

(101, 8)

In [153]:
filtrado1.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
5,330,115,5,4.5,3.0,9.34,1,0.90
11,328,112,4,4.0,4.5,9.10,1,0.78
20,328,116,5,5.0,5.0,9.50,1,0.94
21,334,119,5,5.0,4.5,9.70,1,0.95

#### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [224]:
filtrado2 = admissions.loc[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)]
filtrado2

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,concatenated
Serial No.,,,,,,,,,
29,338,118,4,3.0,4.5,9.40,1,0.91,3389.4
63,327,114,3,3.0,3.0,9.02,0,0.61,3279.02
141,326,114,3,3.0,3.0,9.11,1,0.83,3269.11
218,324,111,4,3.0,3.0,9.01,1,0.82,3249.01
382,325,107,3,3.0,3.5,9.11,1,0.84,3259.11

In [180]:
#  Find the mean chance of admit for these applicants.

mean_chance_of_admit = filtrado2['Chance of Admit'].mean()
mean_chance_of_admit

0.8019999999999999

Let's create a new column based on the TOEFL Score column, where we put True if the TOEFL value is greater than 100 and False if it is less. We are going to do it with a function and an apply. 
To do this, we first create a function that receives an argument. The function will return True if the parameter entered is greater than 100, otherwise it will return False.

In [184]:
def true_false(row):
    if row['TOEFL Score'] > 100:
        return True
    else:
        return False

admissions.apply(true_false, axis=1)

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23     False
24     False
25     False
26     False
27      True
28      True
29      True
       ...
355     True
356     True
357     True
358     True
359     True
360     True
361    False
362    False
363    False
364    False
365     True
366     True
367     True
368    False
369     True
370     True
371     True
372     True
373    False
374     True
375     True
376     True
377     True
378     True
379     True
380     True
381     True
382     True
383     True
384     True
Length: 385, dtype: bool

Now we create a new column called "Decision" and apply to the TOEFL Score column

In [185]:
admissions['Decision'] = admissions.apply(true_false, axis=1)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True
1,2,316,104,3,3.0,3.5,8.00,1,0.72,True
2,3,322,110,3,3.5,2.5,8.67,1,0.80,True
3,4,314,103,2,2.0,3.0,8.21,0,0.65,True
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True
5,6,321,109,3,3.0,4.0,8.20,1,0.75,True
6,7,308,101,2,3.0,4.0,7.90,0,0.68,True
7,8,302,102,1,2.0,1.5,8.00,0,0.50,True
8,9,323,108,3,3.5,3.0,8.60,0,0.45,True
9,10,327,111,4,4.0,4.5,9.00,1,0.84,True
10,11,328,112,4,4.0,4.5,9.10,1,0.78,True
11,12,307,109,3,4.0,3.0,8.00,1,0.62,True
12,13,311,104,3,3.5,2.0,8.20,1,0.61,True
13,14,314,105,3,3.5,2.5,8.30,0,0.54,True
14,15,317,107,3,4.0,3.0,8.70,0,0.66,True
15,16,319,106,3,4.0,3.0,8.00,1,0.65,True
16,17,318,110,3,4.0,3.0,8.80,0,0.63,True
17,18,303,102,3,3.5,3.0,8.50,0,0.62,True
18,19,325,114,4,3.0,2.0,8.40,0,0.70,True
19,20,328,116,5,5.0,5.0,9.50,1,0.94,True
20,21,334,119,5,5.0,4.5,9.70,1,0.95,True
21,22,336,119,5,4.0,3.5,9.80,1,0.97,True
22,23,322,109,5,4.5,3.5,8.80,0,0.76,True
23,24,298,98,2,1.5,2.5,7.50,1,0.44,False
24,25,295,93,1,2.0,2.0,7.20,0,0.46,False
25,26,310,99,2,1.5,2.0,7.30,0,0.54,False
26,27,300,97,2,3.0,3.0,8.10,1,0.65,False
27,28,327,103,3,4.0,4.0,8.30,1,0.74,True
28,29,338,118,4,3.0,4.5,9.40,1,0.91,True
29,30,340,114,5,4.0,4.0,9.60,1,0.90,True
...,...,...,...,...,...,...,...,...,...,...
355,356,310,103,2,2.5,2.5,8.24,0,0.72,True
356,357,324,110,3,3.5,3.0,9.22,1,0.89,True
357,358,336,119,4,4.5,4.0,9.62,1,0.95,True
358,359,321,109,3,3.0,3.0,8.54,1,0.79,True
359,360,315,105,2,2.0,2.5,7.65,0,0.39,True
360,361,304,101,2,2.0,2.5,7.66,0,0.38,True
361,362,297,96,2,2.5,2.0,7.43,0,0.34,False
362,363,290,100,1,1.5,2.0,7.56,0,0.47,False
363,364,303,98,1,2.0,2.5,7.65,0,0.56,False
364,365,311,99,1,2.5,3.0,8.43,1,0.71,False
365,366,322,104,3,3.5,4.0,8.84,1,0.78,True
366,367,319,105,3,3.0,3.5,8.67,1,0.73,True
367,368,324,110,4,4.5,4.0,9.15,1,0.82,True
368,369,300,100,3,3.0,3.5,8.26,0,0.62,False
369,370,340,113,4,5.0,5.0,9.74,1,0.96,True
370,371,335,117,5,5.0,5.0,9.82,1,0.96,True
371,372,302,101,2,2.5,3.5,7.96,0,0.46,True
372,373,307,105,2,2.0,3.5,8.10,0,0.53,True
373,374,296,97,2,1.5,2.0,7.80,0,0.49,False
374,375,320,108,3,3.5,4.0,8.44,1,0.76,True
375,376,314,102,2,2.0,2.5,8.24,0,0.64,True
376,377,318,106,3,2.0,3.0,8.65,0,0.71,True
377,378,326,112,4,4.0,3.5,9.12,1,0.84,True
378,379,317,104,2,3.0,3.0,8.76,0,0.77,True
379,380,329,111,4,4.5,4.0,9.23,1,0.89,True
380,381,324,110,3,3.5,3.5,9.04,1,0.82,True
381,382,325,107,3,3.0,3.5,9.11,1,0.84,True
382,383,330,116,4,5.0,4.5,9.45,1,0.91,True
383,384,312,103,3,3.5,4.0,8.78,0,0.67,True
384,385,333,117,4,5.0,4.0,9.66,1,0.95,True

Create a column called `decision2` in the `admissions` dataframe. Assign 1 to this column if the value of `SOP` is greater than 3 and 0 otherwise.    
HINT (use np.where)

In [189]:
admissions['Decision2'] = np.where(admissions.SOP > 3, 1, 0)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Decision,Decision2
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,True,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,True,1
3,4,314,103,2,2.0,3.0,8.21,0,0.65,True,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True,1
5,6,321,109,3,3.0,4.0,8.20,1,0.75,True,0
6,7,308,101,2,3.0,4.0,7.90,0,0.68,True,0
7,8,302,102,1,2.0,1.5,8.00,0,0.50,True,0
8,9,323,108,3,3.5,3.0,8.60,0,0.45,True,1
9,10,327,111,4,4.0,4.5,9.00,1,0.84,True,1
10,11,328,112,4,4.0,4.5,9.10,1,0.78,True,1
11,12,307,109,3,4.0,3.0,8.00,1,0.62,True,1
12,13,311,104,3,3.5,2.0,8.20,1,0.61,True,1
13,14,314,105,3,3.5,2.5,8.30,0,0.54,True,1
14,15,317,107,3,4.0,3.0,8.70,0,0.66,True,1
15,16,319,106,3,4.0,3.0,8.00,1,0.65,True,1
16,17,318,110,3,4.0,3.0,8.80,0,0.63,True,1
17,18,303,102,3,3.5,3.0,8.50,0,0.62,True,1
18,19,325,114,4,3.0,2.0,8.40,0,0.70,True,0
19,20,328,116,5,5.0,5.0,9.50,1,0.94,True,1
20,21,334,119,5,5.0,4.5,9.70,1,0.95,True,1
21,22,336,119,5,4.0,3.5,9.80,1,0.97,True,1
22,23,322,109,5,4.5,3.5,8.80,0,0.76,True,1
23,24,298,98,2,1.5,2.5,7.50,1,0.44,False,0
24,25,295,93,1,2.0,2.0,7.20,0,0.46,False,0
25,26,310,99,2,1.5,2.0,7.30,0,0.54,False,0
26,27,300,97,2,3.0,3.0,8.10,1,0.65,False,0
27,28,327,103,3,4.0,4.0,8.30,1,0.74,True,1
28,29,338,118,4,3.0,4.5,9.40,1,0.91,True,0
29,30,340,114,5,4.0,4.0,9.60,1,0.90,True,1
...,...,...,...,...,...,...,...,...,...,...,...
355,356,310,103,2,2.5,2.5,8.24,0,0.72,True,0
356,357,324,110,3,3.5,3.0,9.22,1,0.89,True,1
357,358,336,119,4,4.5,4.0,9.62,1,0.95,True,1
358,359,321,109,3,3.0,3.0,8.54,1,0.79,True,0
359,360,315,105,2,2.0,2.5,7.65,0,0.39,True,0
360,361,304,101,2,2.0,2.5,7.66,0,0.38,True,0
361,362,297,96,2,2.5,2.0,7.43,0,0.34,False,0
362,363,290,100,1,1.5,2.0,7.56,0,0.47,False,0
363,364,303,98,1,2.0,2.5,7.65,0,0.56,False,0
364,365,311,99,1,2.5,3.0,8.43,1,0.71,False,0
365,366,322,104,3,3.5,4.0,8.84,1,0.78,True,1
366,367,319,105,3,3.0,3.5,8.67,1,0.73,True,0
367,368,324,110,4,4.5,4.0,9.15,1,0.82,True,1
368,369,300,100,3,3.0,3.5,8.26,0,0.62,False,0
369,370,340,113,4,5.0,5.0,9.74,1,0.96,True,1
370,371,335,117,5,5.0,5.0,9.82,1,0.96,True,1
371,372,302,101,2,2.5,3.5,7.96,0,0.46,True,0
372,373,307,105,2,2.0,3.5,8.10,0,0.53,True,0
373,374,296,97,2,1.5,2.0,7.80,0,0.49,False,0
374,375,320,108,3,3.5,4.0,8.44,1,0.76,True,1
375,376,314,102,2,2.0,2.5,8.24,0,0.64,True,0
376,377,318,106,3,2.0,3.0,8.65,0,0.71,True,0
377,378,326,112,4,4.0,3.5,9.12,1,0.84,True,1
378,379,317,104,2,3.0,3.0,8.76,0,0.77,True,0
379,380,329,111,4,4.5,4.0,9.23,1,0.89,True,1
380,381,324,110,3,3.5,3.5,9.04,1,0.82,True,1
381,382,325,107,3,3.0,3.5,9.11,1,0.84,True,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,True,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,True,1
384,385,333,117,4,5.0,4.0,9.66,1,0.95,True,1